{% extends 'base.html' %}
{% block body %}
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">DueDate</th>
      <th scope="col">Buttons</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todos %}
      <tr>
        <th scope="row">{{todo.id}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.due_date}}</td>
        <td>
          <a href="/todos/{{todo.id}}/" class="btn btn-primary">글보기</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <th>#</th>
        <td>할일이 비었습니다</td>
        <td>-</td>
        <td>-</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}