{% extends 'base.html' %}
{% block body %}
  <form action="/todos/create/" class="mt-5">
    <div class="form-group">
      <label for="title">ToDo</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" class="form-control" id="content" name="content">
    </div>
    <div class="form-group">
      <label for="due-date">Due Date</label>
      <input type="date" class="form-control" id="due-date" name="due-date">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}